{% extends 'Admin/dashAdmin.html' %}
{% block data %}
<div class="d-flex border ">
    <div class="text-center mx-5 my-5">
        <h3>Members Details </h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>no.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>UserName</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for data in mem_data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.phoneNo}}</td>
                <td>{{data.address}}</td>
                <td>{{data.user}}</td>
                <td>
                    <a href="{% url 'deletemem' data.id %}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}