{% extends 'Admin/dashAdmin.html' %}
{% block data %}
<div class="d-flex border ">
    <div class="text-center my-5 mx-5">
        <h3>Trainers Details</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>no.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Proof</th>
                <th>Type Trainer</th>
                <th>UserName</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for data in trainer_data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.phoneNo}}</td>
                <td>{{data.address}}</td>
                <td><a  rel="window.opener" href="media/TrainerProof/{{ data.proof.url }}">Click Here.</a></td>
                <td>{{data.type}}</td>
                <td>{{data.user}}</td>
                <td>
                    <a href="{% url 'deletetrai' data.id %}" class="btn btn-outline-danger">Delete</a>
                </td>

            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

</div>
{% endblock %}
