<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Login</title>
	<link rel="icon" href=" {% static 'img/Fevicon.png' %} " type="image/png">
  <link rel="stylesheet" href=" {% static 'vendors/bootstrap/bootstrap.min.css' %} ">
  <link rel="stylesheet" href=" {% static 'vendors/fontawesome/css/all.min.css' %} ">
	<link rel="stylesheet" href=" {% static 'vendors/themify-icons/themify-icons.css' %} ">
	<link rel="stylesheet" href=" {% static 'vendors/linericon/style.css' %} ">
  <link rel="stylesheet" href=" {% static 'vendors/owl-carousel/owl.theme.default.min.css' %} ">
  <link rel="stylesheet" href=" {% static 'vendors/owl-carousel/owl.carousel.min.css' %} ">
  <link rel="stylesheet" href=" {% static 'vendors/nice-select/nice-select.css' %} ">
  <link rel="stylesheet" href=" {% static 'vendors/nouislider/nouislider.min.css' %} ">

  <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
</head>
<body>
	<!--================ Start Header Menu Area =================-->
	<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="/"><h1>TitanGym.</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
      </nav>
    </div>
  </header>
	<!--================ End Header Menu Area =================-->

  <!-- ================ start banner area ================= -->
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Login / Register</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Login/Register</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->

  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="d-flex flex-column justify-content-center align-items-center bg-secondary p-5" style="height:35rem">
						<div class="hover">
							<h4 class="text-center">New to our website?</h4>
							<p class="text-center text-dark">Exercise is like telling your body “you’re gonna hate me for this, but you’ll thank me later.”</p>
							<div class="d-flex flex-column justify-content-center align-items-center p ">
                            <a class=" btn btn-outline-dark my-2 px-5 rounded rounded-1" href="{% url 'regiTrainer' %}  ">Are you a Trainer</a>
                            <a class="btn btn-dark my-2 px-5 rounded rounded-1" href="{% url 'regiMember' %} ">Are you a Member</a>
                        </div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<form class="row login_form" method="POST" >
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" name="uname" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control"  name="pass" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>

							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="btn btn-outline-dark my-2 px-5 rounded rounded-1 w-100">Log In</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->



</body>
</html>